/* .container {
  border: 1px solid red;
  display: flex;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 1);
  height: 100vh;

}

.left {
  flex: 1;
  background-color: black;
  height: 42rem;
  width: 10.5rem;
  border: 1px solid red;
  margin: 1rem 0rem 1rem 1rem;
  border-radius: 1.875rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3.125rem;
  padding-right: 4.813rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
} */

.menu {
  /* border: 1px solid white; */
}
/* 
.Lboard {
  margin-bottom: 3.75rem;
  font-size: 2em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

.Lmid h4 {
  font-size: 1em;
  font-family: "Montserrat";
}

.Lmid h6 {
  font-size: 1em;
  font-weight: 400;
  font-family: "Montserrat";
}

.Lmid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  color: #ffffff;

} */
/* 
.menuIcon {
  font-size: 1.5rem;
}

.connectUs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
}
.rightContainer {
  flex: 4;
  border: 1px solid rgb(0, 134, 51);
}

.dashboard {
  margin: 1rem 1rem 1rem 2rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid yellowgreen;
}

.heading h1 {
  font-size: 1.2em;
}

.avatarContainer {
  display: flex;
  align-items: center;
  border: 1px solid blueviolet;
  width: 17.375rem;
  justify-content: space-between;
}

.avatar{
    width: 2.2rem;
    border-radius: 50%;
}

.bell {
    height: 1.5rem;
    width: 1.5rem;
  }

  .searchBarContainer {
    display: flex;
    align-items: center;
    border: 1px solid;
    height: 1.875rem;
    width: 11.25rem;
    background-color: white;
    border-radius: 0.625rem;
    padding-right: 0.688rem;
  }

  .searchBarContainer input {
    height: 1.2rem;
    width: 9rem;
    padding-left: 0.938rem;
    background-color: white;
    border: none;
    border-radius: 0.925rem;
    outline: none;
  }

  .topCard {
    display: flex;
    border: 1px solid rgb(35, 19, 19);
    height: 6.5rem;
    justify-content: space-between;
  } 

  .topCard div {
    border: 1px solid slateblue;
    width: 11.816rem;
    border-radius: 1.25rem;
  }

  .graph {
    height: 15.438rem;
    border: 1px solid yellowgreen;
  } */

  /* kuhyhukhi */
/* 
.avatarContainer img {
  width: 1.125rem;
  height: 1.875rem;
  border-radius: 50%;
}
.searchBarContainer {
  display: flex;
  align-items: center;
  border: 1px solid;
  height: 1.875rem;
  width: 11.25rem;
  background-color: white;
  border-radius: 0.625rem;
  padding-right: 0.688rem;
} */
/* .searchBarContainer input {
  height: 1.875rem;
  padding-left: 0.938rem;
  background-color: white;
  border: none;
  border-radius: 0.625rem;
  outline: none;
}



.topCard {
  display: flex;
  border: 1px solid rgb(35, 19, 19);
  height: 6.5rem;
  gap: 3.303rem;
} */

/* .topCard div {
  border: 1px solid slateblue;
  width: 11.816rem;
  border-radius: 1.25rem;
}



.cards {
  height: 16rem;
  border: 1px solid saddlebrown;
} */


/* 00000000000 */

.container {
    border: 1px solid red;
    display: flex;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 1);
    height: 100vh;
  }
  
  .left {
    /* flex: 1; */
    background-color: black;
    height: 95%;
    border: 1px solid red;
    margin: 1rem 0rem 1rem 1rem;
    border-radius: 1.875rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3.125rem;
    padding-right: 4.813rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    width: 17rem;
  }
  
  .menu {}
  
  .Lboard {
    margin-bottom: 1.5rem;
    font-size: 1.5em;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
  }
  
  .Lmid h4 {
    font-size: 1em;
    font-family: "Montserrat";
  }
  
  .Lmid h6 {
    font-size: 1em;
    font-weight: 400;
    font-family: "Montserrat";
  }
  
  .Lmid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
  }
  
  .menuIcon {
    font-size: 1.5rem;
  }
  
  .connectUs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
  }
  
  .rightContainer {
    flex: 4;
    border: 1px solid rgb(0, 134, 51);
  }
  
  .dashboard {
    margin: 1rem 1rem 1rem 2rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid yellowgreen;
  }
  
  .heading h1 {
    font-size: 1.2em;
  }
  
  .avatarContainer {
    display: flex;
    align-items: center;
    /* border: 1px solid blueviolet; */
    width: 17.375rem;
    justify-content: space-between;
  }
  
  .avatar {
    width: 2.2rem;
    border-radius: 50%;
  }
  
  .bell {
    height: 1.5rem;
    width: 1.5rem;
  }

  
  .searchBarContainer {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    height: 1.875rem;
    width: 13.25rem;
    background-color: white;
    border-radius: 0.625rem;
    padding-right: 0.688rem;
  }


  .searchBarContainer input {
    height: 1.875rem;
    padding-left: 0.938rem;
    background-color: white;
    border: none;
    border-radius: 0.625rem;
    outline: none;
  }

  .avatarContainer {
    display: flex;
    align-items: center;
    border: 1px solid blueviolet;
    width: 20.375rem;
    justify-content: space-between;
  }


  .topCard {
    display: flex;
    border: 1px solid rgb(35, 19, 19);
    height: 7.5rem;
    justify-content: space-between;
  }

  .topCard .topCardContainer {
    border: 1px solid slateblue;
    width: 11.816rem;
    border-radius: 1.25rem;
  }

  .graph {
    height: 15.438rem;
    border: 1px solid yellowgreen;
  }

  


  .topCardSubContainer{
    display: flex;
    padding: 1rem;
  }

  .topCardSubContainer .p{
    /* border: 1px solid red; */
    flex: 1;
  }

  .topCardSubContainer div p{
    padding-top: 1.5rem;
  }

  .cards {
    height: 14rem;
    border: 1px solid saddlebrown;
    display: flex;
  } 